@tailwind base;
@tailwind components;
@tailwind utilities;


.text-green-500 {
  color:green
}

.text-red-500 {
  color: red;
}

.text-yellow-500 {
  color: yellow;
}




.matter-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr auto; /* Added auto for the trash icon */
  align-items: center;
  gap: 4px;
}

.matter-container .delete-icon {
  justify-self: end; /* Aligns the trash icon to the end of the grid cell */
}

  